bot:
  name: crypto1_test1_bot
  token: 6499686372:AAEEml4n5zYdOk9i13CvFYX0YNceyfbM_Sg
currency:
  percent: 7
  uri: "https://api.mexc.com/api/v3/ticker/price"
users:
  capacity: 1
schedule:
  time: "*/10 * * * * *"
spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_DB_HOST:localhost}:5432/${POSTGRES_CUSTOMER_DB_NAME:crypto}
    username: ${POSTGRES_CUSTOMER_DB_USERNAME:postgres}
    password: ${POSTGRES_CUSTOMER_DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
